.container {
    background-color: #ccc;
    height: 500px;
    display: flex;

    flex-direction: row;
    /* colum | row-reverse | colum-reverse */

    flex-wrap: wrap;
    /* wrap  |  wrap-reverse */
    
    justify-content: flex-start;

    /* flex-end  |  center  | space-between  |  space-around */

    align-items: stretch;
    /* flex-start  |  flex-end  |  center  |  baseline */

    align-content: flex-start;
    /* flex-start  |  flex-end  |  center  |  space-between  |  space-around */

}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.article-01 { order: 3;}
.article-02 {order: 1;}
.article-03 {order: 2;}
.article-04 {order: 4;}